<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>92035211939-9m09377d95avm13ba6njrmvvn8auhtko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.92035211939-9m09377d95avm13ba6njrmvvn8auhtko</string>
	<key>API_KEY</key>
	<string>AIzaSyBFkeZTjZvWfGQ2ZbJs28qkSlBrwyWcufE</string>
	<key>GCM_SENDER_ID</key>
	<string>92035211939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.clevertec.boardBunnyGame.BoardBunnyGame</string>
	<key>PROJECT_ID</key>
	<string>zaec-a1be1</string>
	<key>STORAGE_BUCKET</key>
	<string>zaec-a1be1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:92035211939:ios:76b3707ac4ba25962a9516</string>
</dict>
</plist>